# Ignore node_modules (they will be installed during the build)
node_modules

# Ignore Git files
.git
.gitignore



# Ignore build artifacts (if any)
.next
dist
out

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE-specific files
.vscode
.idea

# Ignore Dockerfile and docker-compose files (optional)
Dockerfile
docker-compose.yml
